{% extends 'base.html' %}

{% block title %}Student Details{% endblock %}

{% block content %}
    <h6>Details for {{ student.first_name }}</h6>

    {#<p><strong>Student:</strong> {{ student_id}}</p>#}


    <table class="table table-striped" style="color: #2323b5;border-color: #222229;font-weight:bold">

        <thead>
        <tr>
            <th> Student</th>
            <th>Subject</th>
            <th>Marks</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for mark in marks %}
            <tr>
                <td>{{ mark.student }}</td>
                <td>{{ mark.subject.name }}</td>
                <td>{{ mark.marks }}</td>
                <td>
                    <a href="{% url 'edit_student' student.roll_number %}">Edit</a>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="2">No marks available.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'student_dashboard' %}" class="btn btn-warning">Dashboard</a>
{% endblock %}

